@using SiteManagement.Entities

@model List<Message>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <body>

    <div class="pagetitle">
        <h1>Mesajlar</h1>
       
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">


            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tüm Gelenler</button>
                            </li>
                         
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">


                                <table class="table table-striped">
                                   @* <thead>
                                        <tr>
                                            <th scope="col">Gönderen</th>
                                            <th scope="col">Konu</th>
                                            <th scope="col">Tarih</th>

                                        </tr>
                                    </thead>*@
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            
                                            <tr>
                                                <td>@item.SenderMail</td>
                                                <td class="mailbox-subject">
                                                    <a href="~/Message/InboxDetails/@item.MeassageId"><b>@item.Subject</b> @item.Content.Substring(0, 20)...</a>
                                                    @*<b>@item.Subject</b> @item.Content.Substring(0, 20)...*@
                                                </td>
                                                <td class="mailbox-date">@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                                            </tr>
                                        }

                                    </tbody>
                                
                                </table>

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>
    </body>

